@import 'variables.scss';

/* navigation */
.navigation {
    position: fixed;
    width: 85%;
    top: 20px;
    z-index: 100;
    text-align: right;
}

.navigation-sub {
    font-size: 1em;
    font-weight: 700;
    color: $dark;
}

.item {
    margin-left: 8vw;
    text-decoration: none;
    text-transform: uppercase;
    color: $dark;
}

