@import 'variables.scss';

/* Projects home */
.center {
    display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
    width: 85%;
    max-width: 1860px;
}

.small_banner {
    display: block;
    font-family: $sanserif;
    font-weight: 300;
    font-size: 2em;
    height: 150px;
    width: 100%;
    margin: 0;
    text-align: left;
}

.small_banner a {
    text-decoration: none;
}

.small_banner p {
    display: inline;
    position: relative;
    top: -60%;
    left: -3vw;
    color: $dark;
    font-family: $sanserif;
    font-weight: 700;
    margin: 0;
    z-index: 100;
    
    mix-blend-mode: difference;
}

.clipped_image {
    clip-path: url(#maskBackground);
}

.image {
    transform: scale(1, 1);
    transition: transform 0.2s ease-in;

    width: 0;
    height: 0;
}

.image image {
    transform: translate(100 100);
    transform: scale(1, 2);
}

.background-image-div {
    width: 100%;
    height: 150px;
    background: $light url('~/assets/img/test_image5.jpg') no-repeat center center;
    background-size: 100vw;
    vertical-align: middle;
    mix-blend-mode: multiply;
    
    /* lets clip it*/
    -webkit-clip-path: url(#maskImage);
    clip-path: url(#maskImage);
}

.spacer_projects {
    display: inline;
    width: 100%;
    height: 60px;    
}

/* hover states 
.center:hover {
    width: 100%;
    max-width: 100%;
}

.small_banner:hover {
    height: $hover-height;
    transform: translateY(0);
    margin-top: 0px;
}

.small_banner:hover p {
    font-size: 2em;
    left: 6vw;
    pointer-events: none;
    color: $light;
}

.background-image-div:hover {
    height: $hover-height;
    transform: translateY(0);
}
*/
/* Projects */
.project_banner {
    height: 250px;
    width: 85%;
    margin: 0;
}

.project_banner h1 {
    font-weight: 300;
    text-align: left;
    margin: 0;
}

.titles {
    height: 60vh;
    width: 100%;
    text-align: center;
    margin: 0;
}

.title_large {
    font-size: 8vmax;
    font-family: $serif;
    font-weight: 300;
    position: relative;
    top: 30%;
    -webkit-transform: translateY(-30%);
    transform: translateY(-30%);
}

.playground_banner {
    width: 100%;
    max-height: 600px;
}

.playground_banner svg {
    width: 100%;
    max-height: 600px;
}